.elementor-11 .elementor-element.elementor-element-1c14ce7 {
    --display: flex;
    --min-height: 100vh;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.5;
}

.elementor-11 .elementor-element.elementor-element-1c14ce7:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-1c14ce7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1C2B3D;
}

.elementor-11 .elementor-element.elementor-element-1c14ce7::before,
.elementor-11 .elementor-element.elementor-element-1c14ce7>.elementor-background-video-container::before,
.elementor-11 .elementor-element.elementor-element-1c14ce7>.e-con-inner>.elementor-background-video-container::before,
.elementor-11 .elementor-element.elementor-element-1c14ce7>.elementor-background-slideshow::before,
.elementor-11 .elementor-element.elementor-element-1c14ce7>.e-con-inner>.elementor-background-slideshow::before,
.elementor-11 .elementor-element.elementor-element-1c14ce7>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
}

.elementor-11 .elementor-element.elementor-element-1c14ce7,
.elementor-11 .elementor-element.elementor-element-1c14ce7::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-2a198c9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-cb5105f {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-d89e899 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-6eb2289 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 39px;
    --grid-column-gap: 40px;
    --grid-row-gap: 0px;
}

.elementor-11 .elementor-element.elementor-element-6eb2289 .elementor-widget-container {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-6eb2289 .elementor-social-icon {
    background-color: var( --e-global-color-bdec6a3);
}

.elementor-11 .elementor-element.elementor-element-6eb2289 .elementor-social-icon i {
    color: var( --e-global-color-8f5b128);
}

.elementor-11 .elementor-element.elementor-element-6eb2289 .elementor-social-icon svg {
    fill: var( --e-global-color-8f5b128);
}

.elementor-11 .elementor-element.elementor-element-6eb2289 .elementor-social-icon:hover {
    background-color: var( --e-global-color-ec195fd);
}

.elementor-11 .elementor-element.elementor-element-4f9275b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-7daf7e0 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-899e112 {
    --spacer-size: 100px;
}

.elementor-11 .elementor-element.elementor-element-d7182ce {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-d40db52 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1f7dc1c {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-1f7dc1c .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 41px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-0e38550 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-2a5fec9 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-2a5fec9:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-2a5fec9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-ec195fd);
    background-image: url("https://shiby.club/wp-content/uploads/2024/04/Batas-awan.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-11 .elementor-element.elementor-element-2a5fec9,
.elementor-11 .elementor-element.elementor-element-2a5fec9::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-ccf1cac {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-ccf1cac .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
}

.elementor-11 .elementor-element.elementor-element-ccf1cac>.elementor-widget-container {
    margin: 80px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-5f6efe3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: -40px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
}

.elementor-11 .elementor-element.elementor-element-4a5d58a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
}

.elementor-11 .elementor-element.elementor-element-262b8cf {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-935f43b {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-6192f94 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8b5d778 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-22053e4 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-df8c531 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-fd41158 {
    --display: flex;
    --justify-content: flex-start;
    --background-transition: 0.3s;
    --overlay-opacity: 0.2;
}

.elementor-11 .elementor-element.elementor-element-fd41158:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-fd41158>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, var( --e-global-color-ec195fd) 0%, var( --e-global-color-d96f648) 100%);
}

.elementor-11 .elementor-element.elementor-element-fd41158::before,
.elementor-11 .elementor-element.elementor-element-fd41158>.elementor-background-video-container::before,
.elementor-11 .elementor-element.elementor-element-fd41158>.e-con-inner>.elementor-background-video-container::before,
.elementor-11 .elementor-element.elementor-element-fd41158>.elementor-background-slideshow::before,
.elementor-11 .elementor-element.elementor-element-fd41158>.e-con-inner>.elementor-background-slideshow::before,
.elementor-11 .elementor-element.elementor-element-fd41158>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-image: url("/wp-content/uploads/2024/04/logo-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-11 .elementor-element.elementor-element-fd41158,
.elementor-11 .elementor-element.elementor-element-fd41158::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-fd41158.e-con {
    --align-self: flex-start;
}

.elementor-11 .elementor-element.elementor-element-9492bc9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: flex-start;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-55ffdca {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-3ac1fc4 {
    --display: flex;
    --justify-content: flex-start;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-6a4e873 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-6b23884 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-9390cea {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-d1dcdc0 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-a5c2bae {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-428a66b .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-b04b404 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-292a309 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-8f6b2af {
    --display: flex;
    --justify-content: flex-start;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8f6b2af:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-8f6b2af>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, var( --e-global-color-d96f648) 0%, var( --e-global-color-ec195fd) 100%);
}

.elementor-11 .elementor-element.elementor-element-8f6b2af,
.elementor-11 .elementor-element.elementor-element-8f6b2af::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8f6b2af.e-con {
    --align-self: flex-start;
}

.elementor-11 .elementor-element.elementor-element-f485b25 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1cab7e6 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-d628492 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-7c5d450 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-7c5d450 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-3d20688 {
    --display: flex;
    --justify-content: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-95a3724 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-95a3724 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-29fcadf {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-db188fc .ctc-block-actions {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-db188fc .ctc-with-icon {
    gap: 9px;
}

.elementor-11 .elementor-element.elementor-element-db188fc .ctc-block-copy {
    margin: -2px -2px -2px -2px;
    padding: 10px 10px 10px 10px;
    border-radius: 12px 12px 12px 12px;
    font-family: "Mochiy Pop P One", Sans-serif;
    background-color: var( --e-global-color-1dd053e);
    border-style: none;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-11 .elementor-element.elementor-element-2f403f1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: flex-start;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-6f051b1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-start;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-aad9975 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-09b6cfe {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-09b6cfe .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-614e2c8 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-614e2c8 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-721b173 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-b7fb72b {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-b7fb72b .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-ed21b58 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-ed21b58 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-eba44a8 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-c422195 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-c422195 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-20abb4c {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-20abb4c .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-03ee7de {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-afb2308 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-afb2308 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-b6afade {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-b6afade .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-63dc74a {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.2;
}

.elementor-11 .elementor-element.elementor-element-63dc74a:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-63dc74a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, var( --e-global-color-ec195fd) 0%, var( --e-global-color-1dd053e) 100%);
}

.elementor-11 .elementor-element.elementor-element-63dc74a::before,
.elementor-11 .elementor-element.elementor-element-63dc74a>.elementor-background-video-container::before,
.elementor-11 .elementor-element.elementor-element-63dc74a>.e-con-inner>.elementor-background-video-container::before,
.elementor-11 .elementor-element.elementor-element-63dc74a>.elementor-background-slideshow::before,
.elementor-11 .elementor-element.elementor-element-63dc74a>.e-con-inner>.elementor-background-slideshow::before,
.elementor-11 .elementor-element.elementor-element-63dc74a>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-image: url("https://shiby.club/wp-content/uploads/2024/04/Shibydance.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-11 .elementor-element.elementor-element-63dc74a,
.elementor-11 .elementor-element.elementor-element-63dc74a::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-acbcc50 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-538c6b0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-d042152 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-48eb053 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-bdfac1d {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-bdfac1d .elementor-heading-title {
    color: var( --e-global-color-d96f648);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 400;
    line-height: 40px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-ec312b4 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-ec312b4 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-d033ae7 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-f70ea5e {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-f70ea5e .elementor-heading-title {
    color: var( --e-global-color-d96f648);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 400;
    line-height: 40px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-c51dddc {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-c51dddc .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-93768bb {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-4e78db8 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-4e78db8 .elementor-heading-title {
    color: var( --e-global-color-d96f648);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 400;
    line-height: 40px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-3e5883d {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-3e5883d .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-6adeba3 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1f8c767 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-1f8c767 .elementor-heading-title {
    color: var( --e-global-color-d96f648);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 400;
    line-height: 40px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-369e1c8 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-369e1c8 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-75152ab {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-f5c168d {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-f5c168d .elementor-heading-title {
    color: var( --e-global-color-d96f648);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 400;
    line-height: 40px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-54a5cfa {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-54a5cfa .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-c2b9805 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-f97ed7b {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-f97ed7b:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-f97ed7b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, var( --e-global-color-1dd053e) 0%, #f2295b 100%);
}

.elementor-11 .elementor-element.elementor-element-f97ed7b,
.elementor-11 .elementor-element.elementor-element-f97ed7b::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-eb38265 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1c6bd35 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8c0331d {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-b5d1df5 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-b5d1df5 .elementor-heading-title {
    color: var( --e-global-color-8f5b128);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-b78c136 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-b78c136 .elementor-heading-title {
    color: var( --e-global-color-8f5b128);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 35px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-c12828e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --gap: 50px 50px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-a9e1b81 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-a9e1b81 .elementor-icon {
    font-size: 120px;
}

.elementor-11 .elementor-element.elementor-element-a9e1b81 .elementor-icon svg {
    height: 120px;
}

.elementor-11 .elementor-element.elementor-element-a9e1b81 .elementor-icon-wrapper svg {
    width: 100%;
}

.elementor-11 .elementor-element.elementor-element-a9e1b81 .elementor-icon i,
.elementor-11 .elementor-element.elementor-element-a9e1b81 .elementor-icon svg {
    transform: rotate(330deg);
}

.elementor-11 .elementor-element.elementor-element-06afc9e .elementor-icon-wrapper {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-06afc9e .elementor-icon {
    font-size: 120px;
}

.elementor-11 .elementor-element.elementor-element-06afc9e .elementor-icon svg {
    height: 120px;
}

.elementor-11 .elementor-element.elementor-element-06afc9e .elementor-icon-wrapper svg {
    width: 100%;
}

.elementor-11 .elementor-element.elementor-element-06afc9e .elementor-icon i,
.elementor-11 .elementor-element.elementor-element-06afc9e .elementor-icon svg {
    transform: rotate(350deg);
}

.elementor-11 .elementor-element.elementor-element-03715b5 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-03715b5 .elementor-icon {
    font-size: 120px;
}

.elementor-11 .elementor-element.elementor-element-03715b5 .elementor-icon svg {
    height: 120px;
}

.elementor-11 .elementor-element.elementor-element-03715b5 .elementor-icon-wrapper svg {
    width: 100%;
}

.elementor-11 .elementor-element.elementor-element-03715b5 .elementor-icon i,
.elementor-11 .elementor-element.elementor-element-03715b5 .elementor-icon svg {
    transform: rotate(10deg);
}

.elementor-11 .elementor-element.elementor-element-7c3bc8f .elementor-icon-wrapper {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-7c3bc8f.elementor-view-stacked .elementor-icon {
    background-color: #2FAEE4;
}

.elementor-11 .elementor-element.elementor-element-7c3bc8f.elementor-view-framed .elementor-icon,
.elementor-11 .elementor-element.elementor-element-7c3bc8f.elementor-view-default .elementor-icon {
    color: #2FAEE4;
    border-color: #2FAEE4;
}

.elementor-11 .elementor-element.elementor-element-7c3bc8f.elementor-view-framed .elementor-icon,
.elementor-11 .elementor-element.elementor-element-7c3bc8f.elementor-view-default .elementor-icon svg {
    fill: #2FAEE4;
}

.elementor-11 .elementor-element.elementor-element-7c3bc8f .elementor-icon {
    font-size: 120px;
}

.elementor-11 .elementor-element.elementor-element-7c3bc8f .elementor-icon svg {
    height: 120px;
}

.elementor-11 .elementor-element.elementor-element-7c3bc8f .elementor-icon-wrapper svg {
    width: 100%;
}

.elementor-11 .elementor-element.elementor-element-7c3bc8f .elementor-icon i,
.elementor-11 .elementor-element.elementor-element-7c3bc8f .elementor-icon svg {
    transform: rotate(30deg);
}

.elementor-11 .elementor-element.elementor-element-835c283 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: flex-end;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-55aff24 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-start;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-a759b54 {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-a759b54 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-fc2f39e {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-0fe7a73 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-0fe7a73 .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-0e5592f {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-0e5592f .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 22px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-b07ce60 {
    --display: flex;
    --justify-content: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-9416271 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-0d40ba9 {
    --alignment: center;
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
}

.elementor-11 .elementor-element.elementor-element-2b86b0a {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-71f2b3e {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-71f2b3e .elementor-heading-title {
    color: var( --e-global-color-bdec6a3);
    font-family: "Mochiy Pop P One", Sans-serif;
    font-weight: 500;
    line-height: 22px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

@media(min-width:768px) {
    .elementor-11 .elementor-element.elementor-element-d40db52 {
        --content-width: 500px;
    }
    .elementor-11 .elementor-element.elementor-element-55aff24 {
        --width: 40%;
    }
    .elementor-11 .elementor-element.elementor-element-b07ce60 {
        --width: 40%;
    }
}

@media(max-width:1024px) {
    .elementor-11 .elementor-element.elementor-element-3d20688 {
        --justify-content: space-around;
    }
    .elementor-11 .elementor-element.elementor-element-95a3724 {
        text-align: center;
    }
    .elementor-11 .elementor-element.elementor-element-63dc74a::before,
    .elementor-11 .elementor-element.elementor-element-63dc74a>.elementor-background-video-container::before,
    .elementor-11 .elementor-element.elementor-element-63dc74a>.e-con-inner>.elementor-background-video-container::before,
    .elementor-11 .elementor-element.elementor-element-63dc74a>.elementor-background-slideshow::before,
    .elementor-11 .elementor-element.elementor-element-63dc74a>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-11 .elementor-element.elementor-element-63dc74a>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: center center;
    }
    .elementor-11 .elementor-element.elementor-element-538c6b0 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
    }
    .elementor-11 .elementor-element.elementor-element-0d40ba9 {
        --grid-side-margin: 10px;
        --grid-column-gap: 10px;
        --grid-row-gap: 10px;
        --grid-bottom-margin: 10px;
    }
}

@media(max-width:767px) {
    .elementor-11 .elementor-element.elementor-element-95a3724 {
        text-align: center;
    }
    .elementor-11 .elementor-element.elementor-element-95a3724 .elementor-heading-title {
        line-height: 1.7em;
    }
    .elementor-11 .elementor-element.elementor-element-0d40ba9 {
        --grid-side-margin: 10px;
        --grid-column-gap: 10px;
        --grid-row-gap: 10px;
        --grid-bottom-margin: 10px;
    }
}